*/__pycache__/
*.pyc

/WikiDump/

*/Finnish Tokenized/
*/Finnish Word2Vec/
*/Finnish10k/

*/Turkish Tokenized/
*/Turkish Word2Vec/
*/Turkish10k/

*/Swahili Tokenized/
*/Swahili Word2Vec/
*/Swahili10k/

*/Hungarian Tokenized/
*/Hungarian Word2Vec/
*/Hungarian10k/

/cache/